/** Questionmark specific **/

body {
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.page-header {
  margin-top: 0;
}

.qm-navbar {
  margin-top: 5px;
}

.footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #3F3E47;
  color: #fff;
}

.footer hr {
  border: solid #fff;
  border-width: 2px 0 0;
  clear: both;
  width: 60px;
  margin: 2em 0;
}

.footer a {
  color: #fff;
}

.padding-top   { padding-top: 20px; }
.padding-right { padding-right: 20px; }

.btn-primary {
  background-image: none;
  background-color: #97ba4c;
  color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  text-shadow: none;
}
.btn-primary.active, .btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #88a842;
  border: 1px solid transparent;
}

.post-preview-image {
  float: right;
  max-width: 200px;
  max-height: 100px;
}

/* Hack for styling tables by default (since gh-pages doesn't allow custom plugins) */
.pretty-table > table {
  width: 100%;
  margin-bottom: 20px;
}
.pretty-table > table > thead > tr > th, .pretty-table > table > thead > tr > td {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.pretty-table > table > tbody > tr:not(:last-child) > th, .pretty-table > table > tbody > tr:not(:last-child) > td {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}
.pretty-table > table > thead > tr > th, .pretty-table > table > thead > tr > td,
.pretty-table > table > tbody > tr > th, .pretty-table > table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857;
}

/** ********************* **/


/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
