{% if page.title %}
<div class="page-header">
  <div class="pull-right">
    {% include project-state %}
  </div>
  <h1 style="margin-bottom: 0; color: #888">
    {% if page.status == 'open' %}
      Open challenge
    {% elsif page.status == 'taken' %}
      Challenge being tackled
    {% elsif page.status == 'done' %}
      Finished challenge
    {% else %}
      Challenge
    {% endif %}
  </h1>
  <h2 style="margin-top: 0">{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>
{% endif %}

<div class="row">
  <div class="col-xs-12 pretty-table">
    {{ content }}
  </div>
</div>
